* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-eerie-black: #131921;
  --color-charcoal: #3b4149;
  --color-light-orange: #febd69;
  --color-dark-slate-blue: #232f3e;
  --color-blue-midnight: #3c5471;
  --color-light-white: #d8d6d6;
  --color-red-orange: #bf4800;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
a {
  text-decoration: none;
  display: inline-block;
}
.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-20 {
  gap: 20px;
}
.gap-30 {
  gap: 30px;
}
.button{
  background-color: var(--color-dark-slate-blue);
  color: white;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.3;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5%;
}
.button:hover {
  background-color: var(--color-light-orange);
  color: white;
}

/* Start styling Header */
.header-top-strip {
  background-color: var(--color-eerie-black);
  border-bottom: var(--color-charcoal) 2px solid;
}
.header-upper {
  background-color: var(--color-eerie-black);
}
.header-upper .input-group-text {
  background-color: var(--color-light-orange);
}
.header-upper .cart-icon {
  color: var(--color-light-orange);
}

.header-bottom {
  background-color: var(--color-dark-slate-blue);
}
.header-bottom .menu-links a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.3;
}
.header-bottom .dropdown button {
  color: white;
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.3;
}
.header-bottom .dropdown button:focus {
  box-shadow: none;
}
.header-bottom .dropdown-menu {
  background-color: var(--color-dark-slate-blue);
  width: 100%;
  transform: translate3d(0, 60px, 0) !important;
}
.header-bottom .dropdown-item {
  padding: 10px;
  border-bottom: 1px solid var(--color-charcoal);
}
.header-bottom .dropdown-item:hover {
  background-color: var(--color-blue-midnight);
}
.header-bottom .menu-links a:hover {
  text-decoration: underline;
}
/* End Header */

/* Starting styling footer */
footer {
  background-color: var(--color-dark-slate-blue);
}

footer hr {
  color: white;
  width: 95%;
  text-align: center;
  margin: auto;
}

footer .input-group-text:hover {
  background-color: var(--color-light-white);
}
/* End styling footer */

/* Home page */
/* Start styling banner */
.main-banner-content {
  top: 10%;
  left: 5%;
}
.main-banner-content h4 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: var(--color-red-orange);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.main-banner-content h5 {
  font-size: 42px;
  line-height: 54px;
  font-weight: 600;
  color: white;
  text-transform: none;
}
.main-banner-content p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: white;
  margin: 0 0 20px;
}
.small-banner-content {
  top: 25%;
  left: 10%;
}
.small-banner-content h4 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 800;
  color: var(--color-red-orange);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.small-banner-content h5 {
  font-size: 22px;
  line-height: 34px;
  font-weight: 600;
  color: white;
  text-transform: none;
}
.small-banner-content p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: white;
  margin: 0 0 20px;
}
/* End banner */

/* End Home page */
